/* myPortfolio/client/src/index.css */
/* Importa las fuentes de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap");

@import "./styles/reset.css";
@import "./styles/variables.css";

/* Limpiamos el bloque :root de propiedades */
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilos globales para el cuerpo del documento */
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: var(--font-body);
    background-color: var(--color-neutral-light-gray);
    color: var(--color-neutral-dark-gray);
}

/* Accesibilidad: estilos focus-visible */
:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
}

/* Layout principal para la aplicación React */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
