/* myPortfolio/client/src/styles/reset.css */

/* Reset básico universal */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Eliminar estilos por defecto de listas */
ul,
ol {
    list-style: none;
}

/* Asegurar que los elementos de medios se comporten de forma responsiva */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Heredar fuentes y eliminar estilos por defecto de formularios y botones */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Eliminar subrayado y heredar color de texto para enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Eliminar estilos por defecto de bloques de citas si no se usarán */
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
