/* myPortfolio/client/src/styles/utilities.css */

/* Utilidades de espaciado */
.p-xs {
    padding: var(--spacing-xs);
}
.p-sm {
    padding: var(--spacing-sm);
}
.p-md {
    padding: var(--spacing-md);
}
.p-lg {
    padding: var(--spacing-lg);
}
.p-xl {
    padding: var(--spacing-xl);
}

.m-xs {
    margin: var(--spacing-xs);
}
.m-sm {
    margin: var(--spacing-sm);
}
.m-md {
    margin: var(--spacing-md);
}
.m-lg {
    margin: var(--spacing-lg);
}
.m-xl {
    margin: var(--spacing-xl);
}

/* Utilidades de texto */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-primary {
    color: var(--color-primary);
}
.text-accent {
    color: var(--color-accent);
}
.text-dark {
    color: var(--color-text-dark);
}
.text-light {
    color: var(--color-text-light);
}
.text-error {
    color: var(--color-error);
}
.text-success {
    color: var(--color-success);
}

/* Utilidades de flexbox */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.gap-xs {
    gap: var(--spacing-xs);
}
.gap-sm {
    gap: var(--spacing-sm);
}
.gap-md {
    gap: var(--spacing-md);
}
.gap-lg {
    gap: var(--spacing-lg);
}
.gap-xl {
    gap: var(--spacing-xl);
}

/* Utilidades para modo responsive */
@media (min-width: 640px) {
    .sm-flex-row {
        flex-direction: row;
    }
    .sm-text-left {
        text-align: left;
    }
    .sm-p-md {
        padding: var(--spacing-md);
    }
}

@media (min-width: 768px) {
    .md-flex-row {
        flex-direction: row;
    }
    .md-text-left {
        text-align: left;
    }
    .md-p-lg {
        padding: var(--spacing-lg);
    }
}

/* Estilos para botones primarios */
.button-primary {
    margin-top: var(--spacing-md);
    padding: 0.75rem 1.5rem;
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    border: none;
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
    cursor: pointer;
    transition:
        background-color var(--transition-base),
        color var(--transition-base);
}

.button-primary:hover,
.button-primary:focus-visible {
    background: var(--color-button-primary-hover-bg);
    color: var(--color-button-primary-hover-text);
}

/* Estilos para botones secundarios */
.button-secondary {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-text);
    border: none;
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
    cursor: pointer;
    transition:
        background-color var(--transition-base),
        color var(--transition-base);
}

.button-secondary:hover,
.button-secondary:focus-visible {
    background: var(--color-button-secondary-hover-bg);
    color: var(--color-button-secondary-hover-text);
}
